#settings {
	display: grid;
	grid-template-columns: max-content max-content;
	grid-gap: 5px;
}

#newLivro {
	text-align:left;
	font-size:12px;	
}

#newLivro input {
	color:white;
	margin-bottom: 16px;
  	Width: 300px;
  	text-align: left;
}

#newLivro label {
	color:red;
	text-align: left;
}

form {
	width: initial;
	border:initial;
	padding: initial;
}

fieldset{
	border-width: initial;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    color:blue;
}

#tabela {
	background-color:black;
}

.texto {
	text-align: left;
}

label {
	width: initial;
  	margin-left: initial;
  	margin-right: inital;
  	padding-top: initial;
  	text-align: initial;
}

.botoes {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:68px;
}
