#settings {
	display: grid;
	grid-template-columns: max-content max-content;
	grid-gap: 5px;
}

#newLivro {
	text-align:left;
	font-size:12px;	
}

#newLivro input {
	color:white;
	margin-bottom: 16px;
  	Width: 317px;
  	text-align: left;
}

#newLivro label {
	color:red;
	text-align: left;
}

form {
	width: initial;
	border:initial;
	padding: initial;
}

fieldset{
	border-width: initial;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    color:blue;
}

#tabela {
	background-color:black;
}

.texto {
	text-align: left;
}

label {
	width: initial;
  	margin-left: initial;
  	margin-right: inital;
  	padding-top: initial;
  	text-align: initial;
}

.botoes {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:68px;
}

.cadastro {
	display: flex;
	flex-direction: column;
}

.camposcadastro {
	margin-top:20px;
}

body .ui-messages .ui-messages-error {
	color:white !important;
	background-color: grey !important;
}

body .ui-message.ui-message-error {
	color:white !important;
	background-color: grey !important;
}

body .ui-growl .ui-growl-item-container.ui-growl-error {
	color: white !important;
    background-color: grey !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

body .ui-growl .ui-growl-item-container .ui-growl-item {
    color: black !important;
    display: flex !important;
    flex-wrap: wrap !important;
}


body .ui-messages .ui-messages-info {
	color: black !important;
	background-color: #b7d8b7 !important;
	border:initial;

}

.ui-selectonemenu .ui-selectonemenu-label {
	color:white !important;
}